.product-card {
	width: 90%;
	&__image {
		margin-bottom: 10px;
		img {
			width: 100%;
			height: 240px;
		}
	}

	&__content {

	}

	&__subtitle {
		@include heading($font-weight-500, $font-paragraph, 23px , $color-gray-500);
		margin-bottom: 8px;
	}

	&__title {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;

		@include heading($font-weight-500, $font-h4, 23px , $color-black);
		margin-bottom: 8px;
	}
	&__price {
		@include heading($font-weight-500, $font-h4, 23px , $color-black);
		span {
			@include heading($font-weight-400, $font-paragraph, 23px , $color-green);
		}
	}

}