$component: menu-item;

.#{$component} {
  position: relative;
  font-size: $font-text;
  font-weight: $font-weight-400;
  color: $color-light-blue;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $color-gray-400;
  }

  @media (max-width: 900px) {
    font-size: 50px;
  }
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    left: 0;
    bottom: -5px;
    background: $color-gray-400;
    border-radius: 4px;
    transition: width 0.3s ease;
  }

  &.active:before,
  &:hover:before {
    width: 100%;
  }
}
