.mark-card {
  text-align: center;

  &:active {
    cursor: pointer;
  }

  &__image {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  h3 {
    text-align: center;
  }
}

.mySwiper {
  padding: 3rem;
  cursor: grab;
  border-radius: 0.7rem;
  box-shadow: inset 0px 0px 8px 0px #dbdbdb;

  &:active {
    cursor: grabbing;
  }

  @media (max-width: 600px) {
    padding: 2rem 0;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper {
  z-index: 0;
}