.product-card {
	display: flex;
	background-color: $color-white;
	border-radius: 8px;
	overflow: hidden;
	height: 300px;
	//box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	//box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	//box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
	&__top {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: end;
	}
	&__image {
		width: 30%;
		img {
			width: 100%;
			height: 100%;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
		padding: 20px;
	}

	&__subtitle {
		@include heading($font-weight-500, $font-h3, 23px , $color-black);
	}

	&__title {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;

		@include heading($font-weight-400, $font-h3, 23px , $color-black);
	}
	&__price {
		@include heading($font-weight-500, $font-h4, 23px , $color-black);
		span {
			@include heading($font-weight-400, $font-paragraph, 23px , $color-green);
		}
	}

	&__description {
		@include heading($font-weight-400, $font-h4, 23px , $color-gray-600);
	}

	&__date{
		display: flex;
		align-items: center;
		gap: 10px;
	}

}