.salesman-info {
  //border: 1px solid $color-gray-300;
  //border-radius: 0.5rem;
  //padding: 0.7rem;

  @media (max-width: 850px) {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.3rem;

    @media (max-width: 900px) {
      margin: 1rem 0;
    }
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 1rem;

    p {
      font-size: 1rem;
    }
  }

  &__address {
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;

    span {
      font-weight: bold;
    }
  }

  &__phones {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    @media (max-width: 900px) {
      margin: 1rem 0;
    }

    div {
      margin-bottom: 1.4rem;

      a {
        padding: 0.7rem 0.7rem;
        background: #F5F5F5;
        color: $color-black;
        border-radius: 0.5rem;
        font-weight: 500;
        transition: background 0.3s ease;
        border: 1px solid #E5E7EB;

        &:hover {
          transform: scale(1.5);
          outline: 1px solid #4979E5;
        }
      }
    }
  }

  &__say {
    margin-top: 1rem;
  }

  &__say > span {
    padding-left: 0.3rem;
	  font-size: 18px;
    font-weight: 600;
  }
}
