.details {
  margin-top: 6rem;
}

.details__arrowback {
  margin: 1rem;
  display: flex;

  .details__breadcrumbs {
    display: flex;
    align-items: center;

    .details__bread {
      margin-left: 0.5rem;
      transition: 0.2s;
    }
    .details__bread {
      &:hover {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
      }
    }
  }
}
