.form-search__container {
  padding: 1.3rem;
  border-radius: 0.5rem;
  position: sticky;
  top: 1rem;
  -webkit-box-shadow: 0 0 41px 1px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 0 0 41px 1px rgba(34, 60, 80, 0.15);
  box-shadow: 0 0 41px 1px rgba(34, 60, 80, 0.15);
}

.form-search {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.form-title {
  margin-bottom: 1rem;
  text-align: center;
}
