.form-search__container {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  padding: 1.3rem;
  border-radius: 0.5rem;
  position: sticky;
  top: 0.7rem;
}

.form-search {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.form-title {
  margin-bottom: 1rem;
  text-align: center;
}
