.header {
	background-color: $color-white;
	//color: $color-white;
	-webkit-box-shadow: 0px 12px 25px -17px rgba(34, 60, 80, 0.24);
	-moz-box-shadow: 0px 12px 25px -17px rgba(34, 60, 80, 0.24);
	box-shadow: 0px 12px 25px -17px rgba(34, 60, 80, 0.24);

	&__body {
		padding: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo {
			cursor: pointer;
		}
	}

	&__phone {
		display: flex;
		align-items: center;
		gap: 10px;
	}

}
