@import './scss/main';

html {
  font-size: 14px;

  @media (max-width: 500px) {
    font-size: 12px;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: $color-white;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
